.App {
    width: 50vw;
    margin: 100px auto 0;
    background-color: #fff;
    margin-bottom: 100px;
}
form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.App input, .App button {
    margin: 15px;
    padding: 10px 20px;
    border: 2px solid gray;
    background-color: #fff;
    outline: none;
    transition: .3s;
}

.App button {
    cursor: pointer;
}
.App button:hover {
    background-color: #000;
    color: white;
    border-color: black;
}

@media (max-width: 800px) {
    form {
        flex-direction: column;
    }
    
}